append head
  link(rel="stylesheet", href="/stylesheets/deck-edit.css")

append content
  #content
    #flashcard-editor
      #content-left
        #list-flashcards.list-group
          a.flashcard-item.list-group-item(ng-repeat="flashcard in deck.flashcards" 
          ng-class="{active: deck.active == $index}" href="#" data-flashcard-id="{{flashcard.id}}"
          ng-click="display($index)" ng-mouseover="setDeleteButtonIndex($index)")
            .term.list-group-item-heading
              //-.media.media-thumbnail
              .text(ng-bind="flashcard.term_text" ng-init="flashcard.term_text") {{flashcard.term_text}}
            .definition.list-group-item-heading
              //-.media.media-thumbnail
              .text(ng-bind="flashcard.definition_text") {{flashcard.definition_text}}
            .btn-delete.glyphicon.glyphicon-remove(ng-click="removeFlashcard($index);")

      #content-center
        nav#edit-tools
          a#btn-bold.btn-style(href="#" title="Bold")
            span.glyphicon.glyphicon-bold
          a#btn-italic.btn-style(href="#" title="Italic")
            span.glyphicon.glyphicon-italic
        #flashcard
          .term(ng-tab="editDefinition()" ng-shift-tab="display(deck.active - 1)" ng-blur="edit.term = false" ng-click="editTerm()")
            textarea#term-input.text(
              ng-show="edit.term == true"
              ng-model="deck.flashcards[deck.active].term_text" 
              spellcheck="false" 
              ng-blur="edit.term = false"
            ) 
            #preview-term.preview(ng-show="edit.term == false" ng-bind-html="markdownToHtml(deck.flashcards[deck.active].term_text)")
          .definition(ng-tab="display(deck.active + 1)" ng-shift-tab="editTerm()" ng-blur="edit.definition = false" ng-click="editDefinition()")
            textarea#definition-input.text(
              ng-show="edit.definition == true"
              ng-model="deck.flashcards[deck.active].definition_text" 
              spellcheck="false"
              ng-blur="edit.definition = false"
            )
            #preview-definition.preview(ng-show="edit.definition == false" ng-bind-html="markdownToHtml(deck.flashcards[deck.active].definition_text)")
            
            //-a.btn-image.btn-style(href="#")
              //-span.glyphicon.glyphicon-picture

      #content-right
        p test
        #flashcard-info 

