append head
  link(rel="stylesheet", href="/stylesheets/deck-edit.css")

append content
  #content
    #flashcard-editor
      #content-left
        #list-flashcards.list-group
          a.flashcard-item.list-group-item(ng-repeat="flashcard in deck.flashcards" 
          ng-class="{active: deck.active == $index}" href="#" data-flashcard-id="{{flashcard.id}}"
          ng-click="display($index)" ng-mouseover="setDeleteButtonIndex($index)")
            .term.list-group-item-heading
              //-.media.media-thumbnail
              .text(ng-bind="flashcard.term_text" ng-init="flashcard.term_text") 
                {{flashcard.term_text}}
            .definition.list-group-item-heading
              //-.media.media-thumbnail
              .text(ng-bind="flashcard.definition_text")
                {{flashcard.definition_text}}
            .btn-delete.glyphicon.glyphicon-remove(ng-click="removeFlashcard(flashcard.id); $event.stopPropagation();")

      #content-center
        nav#edit-tools
          a#btn-bold.btn-style(href="#" title="Bold")
            span.glyphicon.glyphicon-bold
          a#btn-italic.btn-style(href="#" title="Italic")
            span.glyphicon.glyphicon-italic
        #flashcard
          .term
            .text(ng-model="deck.flashcards[deck.active].term_text" 
            ng-tab="focusDefinition()" ng-shift-tab="display(deck.active - 1)" 
            focus-on="term" contenteditable="true" spellcheck="false" 
            data-placeholder="Term") 
              {{deck.flashcards[deck.active].term_text}}
            a.btn-image.btn-style(href="#")
              span.glyphicon.glyphicon-picture
          .definition
            //-.media.media-halfsize
              //-.upload-form
                //-button.btn-browse.btn.btn-primary(type="button" data-target="definition") Browse
              //-.upload-progress
                //-.percent
                //-.MB
              //-canvas.media-canvas

            .text(ng-model="deck.flashcards[deck.active].definition_text" ng-tab="display(deck.active + 1)" ng-shift-tab="focusTerm()" 
            focus-on="definition" contenteditable="true" spellcheck="false" data-placeholder="Definition")
              //-{{deck.flashcards[deck.active].definition_text}}
            
            a.btn-image.btn-style(href="#")
              span.glyphicon.glyphicon-picture


      #content-right
        p test
        #flashcard-info 

