mixin file-row(file)
	tr.file-row
		td.star
			if (file.starred === true) 
				span.star.starred.glyphicon.glyphicon-star
			else
				span.star.glyphicon.glyphicon-star-empty
		td.file-type
			if(file.type === 'folder')
					span.glyphicon.glyphicon-folder-open
			else
					span.glyphicon.glyphicon-file
		td.filename
			a(href="/" + file.path)= file.name 
		td.study-mode
			.btn-group
				a#dropdownMenu(href="#" class="dropdown-toggle" data-toggle="dropdown")
					| Action
					span.caret
				ul.dropdown-menu(role="menu")
					li(role="presentation")
						a(role="menuitem" href="#") Classic
					li(role="presentation")
						a(role="menuitem" href="#") Random
					li(role="presentation")
						a(role="menuitem" href="#") Hardest to easiest
		td.owner= file.owner_id
		td.size= file.size
		td.percentage= file.percentage + '%'
		td.file-id= file.id








