#content
  #flashcard-editor
    #content-left
      input.form-control(ng-model="searchFlashcard" placeholder="Search")
      #list-flashcards.list-group
        a.flashcard-item.list-group-item(ng-repeat="flashcard in deck.flashcards | filter:searchFlashcard" 
        ng-class="{active: deck.active == $index}" href="#" data-flashcard-id="{{flashcard.id}}"
        ng-click="display($index)" ng-mouseover="setDeleteButtonIndex($index)")
          .term.list-group-item-heading
            //-.media.media-thumbnail
            .text(ng-bind-html="markdownToHtml(flashcard.term_text)")
          .definition.list-group-item-heading
            //-.media.media-thumbnail
            .text(ng-bind-html="markdownToHtml(flashcard.definition_text)")
          .btn-delete.glyphicon.glyphicon-remove(ng-click="removeFlashcard($index);")

    #content-center
      nav#edit-tools
        a#btn-bold.btn-style(href="#" title="Bold")
          span.glyphicon.glyphicon-bold
        a#btn-italic.btn-style(href="#" title="Italic")
          span.glyphicon.glyphicon-italic
      #flashcard
        .term(side  ng-tab="editDefinition()" ng-shift-tab="display(deck.active - 1)" ng-blur="edit.term = false" ng-click="editTerm()")
          .media-halfsize(tabindex="0" ng-if="deck.flashcards[deck.active].term_media_id && deck.flashcards[deck.active].term_media_position == 'left'" )
            img(ng-src="/media/{{deck.flashcards[deck.active].term_media_id}}")
            a
              span.media-left-btn.glyphicon.glyphicon-arrow-right(ng-click="deck.flashcards[deck.active].term_media_position = 'right'")
            a
              span.media-fullsize-btn.glyphicon.glyphicon-resize-full(ng-click="deck.flashcards[deck.active].term_media_position = 'full'")
            a
              span.remove-media-btn.glyphicon.glyphicon-remove(ng-click="deck.flashcards[deck.active].term_media_id = null")
          .media-fullsize(tabindex="0" ng-if="deck.flashcards[deck.active].term_media_id && deck.flashcards[deck.active].term_media_position == 'full'")
            img(ng-src="/media/{{deck.flashcards[deck.active].term_media_id}}")
            a
              span.media-left-btn.glyphicon.glyphicon-arrow-left(ng-click="deck.flashcards[deck.active].term_media_position = 'left'")
            a
              span.media-fullsize-btn.glyphicon.glyphicon-arrow-right(ng-click="deck.flashcards[deck.active].term_media_position = 'right'")
            a
              span.remove-media-btn.glyphicon.glyphicon-remove(ng-click="deck.flashcards[deck.active].term_media_id = null")
          textarea#term-input(
            ng-show="edit.term == true && (!deck.flashcards[deck.active].term_media_id || deck.flashcards[deck.active].term_media_position != 'full')"
            ng-model="deck.flashcards[deck.active].term_text"
            ng-class="{'text-halfsize': deck.flashcards[deck.active].term_media_id && deck.flashcards[deck.active].term_media_position && deck.flashcards[deck.active].term_media_position != 'full', 'text-fullsize': !deck.flashcards[deck.active].term_media_id}"
            spellcheck="false"
            ng-blur="edit.term = false"
          )
          #preview-term(
            ng-class="{'text-halfsize': deck.flashcards[deck.active].term_media_id && deck.flashcards[deck.active].term_media_position && deck.flashcards[deck.active].term_media_position != 'full', 'text-fullsize': deck.flashcards[deck.active].term_media_id == null}"
            ng-show="edit.term == false && deck.flashcards[deck.active].term_media_position != 'full'" 
            ng-bind-html="markdownToHtml(deck.flashcards[deck.active].term_text)"
          )
          .media-halfsize(tabindex="0" ng-if="deck.flashcards[deck.active].term_media_id && deck.flashcards[deck.active].term_media_position == 'right'" )
            img(ng-src="/media/{{deck.flashcards[deck.active].term_media_id}}")
            a
              span.media-left-btn.glyphicon.glyphicon-arrow-left(ng-click="deck.flashcards[deck.active].term_media_position = 'left'")
            a
              span.media-fullsize-btn.glyphicon.glyphicon-resize-full(ng-click="deck.flashcards[deck.active].term_media_position = 'full'")
            a
              span.remove-media-btn.glyphicon.glyphicon-remove(ng-click="deck.flashcards[deck.active].term_media_id = null")
          
          a.btn-image.btn-style(href="#" data-toggle="modal" data-target="#modal-upload-image-term")
            span.glyphicon.glyphicon-picture
        .definition(side ng-tab="display(deck.active + 1)" ng-shift-tab="editTerm()" ng-blur="edit.definition = false" ng-click="editDefinition()")
          .media-halfsize(tabindex="0" ng-if="deck.flashcards[deck.active].definition_media_id && deck.flashcards[deck.active].definition_media_position == 'left'" )
            img(ng-src="/media/{{deck.flashcards[deck.active].definition_media_id}}")
            a
              span.media-left-btn.glyphicon.glyphicon-arrow-right(ng-click="deck.flashcards[deck.active].definition_media_position = 'right'")
            a
              span.media-fullsize-btn.glyphicon.glyphicon-resize-full(ng-click="deck.flashcards[deck.active].definition_media_position = 'full'")
            a
              span.remove-media-btn.glyphicon.glyphicon-remove(ng-click="deck.flashcards[deck.active].definition_media_id = null")
          .media-fullsize(tabindex="0" ng-if="deck.flashcards[deck.active].definition_media_id && deck.flashcards[deck.active].definition_media_position == 'full'")
            img(ng-src="/media/{{deck.flashcards[deck.active].definition_media_id}}")
            a
              span.media-left-btn.glyphicon.glyphicon-arrow-left(ng-click="deck.flashcards[deck.active].definition_media_position = 'left'")
            a
              span.media-fullsize-btn.glyphicon.glyphicon-arrow-right(ng-click="deck.flashcards[deck.active].definition_media_position = 'right'")
            a
              span.remove-media-btn.glyphicon.glyphicon-remove(ng-click="deck.flashcards[deck.active].definition_media_id = null")
          textarea#definition-input(
            ng-show="edit.definition == true && (!deck.flashcards[deck.active].definition_media_id || deck.flashcards[deck.active].definition_media_position != 'full')"
            ng-model="deck.flashcards[deck.active].definition_text"
            ng-class="{'text-halfsize': deck.flashcards[deck.active].definition_media_id && deck.flashcards[deck.active].definition_media_position && deck.flashcards[deck.active].definition_media_position != 'full', 'text-fullsize': !deck.flashcards[deck.active].definition_media_id}"
            spellcheck="false"
            ng-blur="edit.definition = false"
          )
          #preview-definition(
            ng-class="{'text-halfsize': deck.flashcards[deck.active].definition_media_id && deck.flashcards[deck.active].definition_media_position && deck.flashcards[deck.active].definition_media_position != 'full', 'text-fullsize': deck.flashcards[deck.active].definition_media_id == null}"
            ng-show="edit.definition == false && deck.flashcards[deck.active].definition_media_position != 'full'" 
            ng-bind-html="markdownToHtml(deck.flashcards[deck.active].definition_text)"
          )
          .media-halfsize(tabindex="0" ng-if="deck.flashcards[deck.active].definition_media_id && deck.flashcards[deck.active].definition_media_position == 'right'" )
            img(ng-src="/media/{{deck.flashcards[deck.active].definition_media_id}}")
            a
              span.media-left-btn.glyphicon.glyphicon-arrow-left(ng-click="deck.flashcards[deck.active].definition_media_position = 'left'")
            a
              span.media-fullsize-btn.glyphicon.glyphicon-resize-full(ng-click="deck.flashcards[deck.active].definition_media_position = 'full'")
            a
              span.remove-media-btn.glyphicon.glyphicon-remove(ng-click="deck.flashcards[deck.active].definition_media_id = null")
          
          a.btn-image.btn-style(href="#" data-toggle="modal" data-target="#modal-upload-image-definition")
            span.glyphicon.glyphicon-picture

    #content-right
      p test
      #flashcard-info 

        //-<input type="text" ng-model="myModelObj">
          //-<input type="file" ng-file-select="onFileSelect($files)" >
            //-<input type="file" ng-file-select="onFileSelect($files)" multiple>
              //-<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
                //-ng-show="dropSupported">drop files here</div>
                  //-<div ng-file-drop-available="dropSupported=true" 
                    //-ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
                      //-<button ng-click="upload.abort()">Cancel Upload</button>

.modal.fade(id="modal-upload-image-term" role="dialog" aria-labelledby="Upload" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title#id="Upload image"
      .modal-body
        form(role="form" enctype="multipart/form-data")
          p Image
          input(type="file" name="image" accept="image/*" ng-file-select="uploadTermMedia($files[0])")
          p Position
          input(type="radio" id="full" name="position" ng-model="deck.flashcards[deck.active].term_media_position" ng-value="MediaPositions.FULL") 
          label(for="full") Full
          input(type="radio" id="left" name="position" ng-model="deck.flashcards[deck.active].term_media_position" ng-value="MediaPositions.LEFT") 
          label(for="left") Left
          input(type="radio" id="right" name="position" ng-model="deck.flashcards[deck.active].term_media_position" ng-value="MediaPositions.RIGHT") 
          label(for="right") Right

      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
        button.upload-image(type="button" class="btn btn-primary" data-dismiss="modal" ng-click="uploadImage()") Upload

.modal.fade(id="modal-upload-image-definition" role="dialog" aria-labelledby="Upload" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title#id="Upload image"
      .modal-body
        form(role="form" enctype="multipart/form-data")
          p Image
          input(type="file" name="image" accept="image/*" ng-file-select="uploadDefinitionMedia($files[0])")
          p Position
          input(type="radio" id="full" name="position" ng-model="deck.flashcards[deck.active].definition_media_position" ng-value="MediaPositions.FULL") 
          label(for="full") Full
          input(type="radio" id="left" name="position" ng-model="deck.flashcards[deck.active].definition_media_position" ng-value="MediaPositions.LEFT") 
          label(for="left") Left
          input(type="radio" id="right" name="position" ng-model="deck.flashcards[deck.active].definition_media_position" ng-value="MediaPositions.RIGHT") 
          label(for="right") Right

      .modal-footer
        button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
        button.upload-image(type="button" class="btn btn-primary" data-dismiss="modal" ng-click="uploadImage()") Upload
