append content
  #content
    #flashcard-editor
      #content-left(ng-if="visible.stats == false")
        button.btn.btn-primary(ng-click="session.end()") Done
        table
          tr(ng-repeat="session in SessionManager.sessions" ng-class="{'active-session': $index == SessionManager.activeSessionIdx}"
          ng-click="SessionManager.activeSessionIdx = $index")
            td {{session.deck.name}} 
            td {{session.index}}/{{session.deck.flashcards.length}}
      #content-center
        #flashcard(ng-if="visible.stats == false")
          .side.term(ng-show="visible.term == true")
            .media-halfsize(tabindex="0" ng-if="flashcards[session.index].term_media_id && flashcards[session.index].term_media_position == 'left'" )
              img(ng-src="/media/{{flashcards[session.index].term_media_id}}")
            .media-fullsize(tabindex="0" ng-if="flashcards[session.index].term_media_id && flashcards[session.index].term_media_position == 'full'")
              img(ng-src="/media/{{flashcards[session.index].term_media_id}}")
            .text(
              ng-bind-html="markdownToHtml(flashcards[session.index].term_text)" 
              ng-show="!flashcards[session.index].term_media_id || flashcards[session.index].term_media_position != 'full'"
              spellcheck="false" 
              ng-class="{'text-halfsize': flashcards[session.index].term_media_id && flashcards[session.index].term_media_position && flashcards[session.index].term_media_position != 'full', 'text-fullsize': !flashcards[session.index].term_media_id}"
            )
            .media-halfsize(tabindex="0" ng-if="flashcards[session.index].term_media_id && flashcards[session.index].term_media_position == 'right'" )
              img(ng-src="/media/{{flashcards[session.index].term_media_id}}")
          .side.definition(ng-show="visible.definition == true")
            .media-halfsize(tabindex="0" ng-if="flashcards[session.index].definition_media_id && flashcards[session.index].definition_media_position == 'left'" )
              img(ng-src="/media/{{flashcards[session.index].definition_media_id}}")
            .media-fullsize(tabindex="0" ng-if="flashcards[session.index].definition_media_id && flashcards[session.index].definition_media_position == 'full'")
              img(ng-src="/media/{{flashcards[session.index].definition_media_id}}")
            .text(
              ng-bind-html="markdownToHtml(flashcards[session.index].definition_text)" 
              ng-show="!flashcards[session.index].definition_media_id || flashcards[session.index].definition_media_position != 'full'"
              spellcheck="false"             
              ng-class="{'text-halfsize': flashcards[session.index].definition_media_id && flashcards[session.index].definition_media_position && flashcards[session.index].definition_media_position != 'full', 'text-fullsize': !flashcards[session.index].definition_media_id}"
            )
            .media-halfsize(tabindex="0" ng-if="flashcards[session.index].definition_media_id && flashcards[session.index].definition_media_position == 'right'" )
              img(ng-src="/media/{{flashcards[session.index].definition_media_id}}")

        .status-list
          .status(ng-repeat="flashcard in flashcards")
            span(ng-if="flashcard.status == -1") -1
            span(ng-if="flashcard.status == 0") 0
            span(ng-if="flashcard.status == 1") 1
            span(ng-if="flashcard.status == 2") 2
            span(ng-if="flashcard.status == 3") 3


        .answer-bar
          span#btn-wrong.glyphicon.glyphicon-remove(ng-click="session.addAnswer(flashcards[session.index], false)" 
                                           ng-show="visible.answerButtons == true")
          span#btn-turn.glyphicon.glyphicon-refresh(ng-click="showAll()" ng-show="visible.answerButtons != true")
          span#btn-right.glyphicon.glyphicon-ok(ng-click="session.addAnswer(flashcards[session.index], true)"
                                           ng-show="visible.answerButtons == true")

        #stats(ng-if="visible.stats == true")
          p
            | Cards: 
            span(ng-bind="flashcards.length")
            
      #content-right(ng-if="visible.stats == false")
        #study-options
          div
            | Study order: 
            .btn-group
              a#dropdownMenu(href="#" class="dropdown-toggle" data-toggle="dropdown")
                | {{stringifyFlashcardOrder(options.order)}}
                span.caret
              ul.dropdown-menu(role="menu")
                li(role="presentation" ng-repeat="(key, prop) in options.FlashcardOrders")
                  a(role="menuitem" href="#" ng-bind="stringifyFlashcardOrder(prop)" ng-click="session.updateOrder(prop)") 
          div 
            | Show first:
            .btn-group
              a#dropdownMenu(href="#" class="dropdown-toggle" data-toggle="dropdown")
                | {{options.showFirst}}
                span.caret
              ul.dropdown-menu(role="menu")
                li(role="presentation")
                  a(role="menuitem" href="#" ng-click="session.updateShowFirst(options.Sides.TERM)") Term
                li(role="presentation")
                  a(role="menuitem" href="#" ng-click="session.updateShowFirst(options.Sides.DEFINITION)") Definition
                li(role="presentation")
                  a(role="menuitem" href="#" ng-click="session.updateShowFirst(options.Sides.RANDOM)") Random
                li(role="presentation")
                  a(role="menuitem" href="#" ng-click="session.updateShowFirst(options.Sides.BOTH)") Both

          input(type="radio" name="quantity" id="fixed" ng-checked="options.method == options.Methods.CLASSIC" 
            ng-model="options.method" ng-value="options.Methods.CLASSIC" ng-click="session.updateMethod(options.Methods.CLASSIC)")
          label(for="fixed") Qt:
            input.tiny-input(type="number" min="1" ng-model="options.quantity")
          br
          input(type="radio" name="quantity" id="get-100" ng-checked="options.method == options.Methods.GET100" 
            ng-model="options.method" ng-value="options.Methods.GET100" ng-click="session.updateMethod(options.Methods.GET100)")
          label(for="get-100") Get 100%

          //-input(type="radio" name="quantity" id="fixed" ng-checked="options.method == options.Methods.CLASSIC" 
            //-ng-model="options.method" ng-value="options.Methods.CLASSIC")
          //-label(for="fixed") Qt:
            //-input.tiny-input(type="number" min="1" ng-model="options.quantity")
          //-br
          //-input(type="radio" name="quantity" id="get-100" ng-checked="options.method == options.Methods.GET100" 
            ng-model="options.method" ng-value="options.Methods.GET100")
          //-label(for="get-100") Get 100%

          div(ng-show="options.method == options.method.GET100") 
            | Learn
            input.tiny-input(type="number" id="subdeck-size" ng-model="options.subdeckSize")
            | by 
            span(ng-bind="options.subdeckSize")

        #flashcard-info 

